.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  textarea {
    resize: none;
    padding: 10px;
    font-size: 16px;
    min-height: calc(1.5em * 4);
    background-color: transparent;
    outline: none;
    border: 1px solid rgb(88, 88, 88);
    border-radius: 4px;
    transition: border-color 0.3sб background-color 0.4s;
  }
  textarea:focus {
    outline-color: #646cff;
    border-color: #646cff;
  }
  textarea:hover {
    background-color: #333333;
  }

  textarea:active {
    background-color: #222222;
  }
}

.buttons_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
